<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Védett oldal - FELHASZNALÓ</title>
</head>
<body>
	<div>
		<h1>Ez egy védett oldal!</h1>
		<span sec:authorize="isAuthenticated()" style="display: inline-block;">
			| Bejelentkezett: <span sec:authentication="name"></span> | Szerepköre: <span
			sec:authentication="principal.authorities"></span> | </span> <a th:href="@{/logout}">Kijelentkezés!</a>
	</div>
</body>
</html>